#all-container {
	max-width: 75% ;
	padding-top: 2rem;
	margin: auto;
	height: auto;
}

.input-field {
	padding-top: 1.5rem;
}

/*@media (max-width: 767px) { 
	#map-container {
		max-height: 320px;
	}
}*/

@media (max-width: 480px) { 
	#all-container {
		max-width: 100%;
	}
}

#legend { 
	list-style: none; 
}

.legend li { 
	float: left; margin-right: 10px; 
}

#legend span {
	float: left; 
	width: 35px; 
	height: 15px; 
	margin-top: 2px;
	margin-right: 5px;
}